*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
picture,
figure {
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

body {
  background-color: #{'hsl(var(--clr-dark) )'};
  color: #{'hsl(var(--clr-white) )'};
  font-family: $ff-sans-normal;
  font-size: $fs-400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  /*
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;
*/
  //border: 2px solid yellow;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}

.box {
  background: lightblue;
  padding: 3rem;
}
