.flex {
  display: flex;
  gap: $gap;

  &.even-columns > * {
    width: 100%;
    outline: 1px solid limegreen;
  }
}

.grid {
  display: grid;
  gap: $gap;
}

.gap-2 {
  gap: $gap-2;
}

.gap-3 {
  gap: $gap-3;
}

/* 

la expresion * + * implica que los estilos aplicaran
a todos los hijos que tengan un hermano antes que ellos
lo que quiere decir que el estilo aplicara a todos los elementos
hijos, menos al primeroc, otro modo de llegar a lo mismo es con
*:not(:first-child)

*/
.flow > * + * {
  margin-top: $flow-space;
}

.container {
  margin-inline: auto;
  max-width: 80rem;
  padding-inline: 2rem;
}

.grid-container {
  display: grid;
  text-align: center;
  place-items: center;
  height: 100vh;

  border: 2px solid green;

  & * {
    max-width: 50ch;
  }
}

@media (min-width: 45rem) {
  .grid-container {
    /*
  la funcion minmax() obtiene un numero entre el numero minimo y maximo dado,
  la funcion se puede usar dentro de grid-template-columns,grid-template-rows,
  grid-auto-columns, grid-auto-rows
  1fr significa que tome el espacio disponible para su uso
  */
    text-align: left;
    grid-template-columns: minmax(2rem, 1fr) repeat(2, minmax(0, 30rem)) minmax(
        2rem,
        1fr
      );
    column-gap: $gap-2;

    & > *:first-child {
      grid-column: 2;
      border: 1px solid white;
    }

    & > *:last-child {
      grid-column: 3;
      border: 1px solid white;
    }
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.underline-indicators {
  & > * {
    border: 0;
    border-bottom: 0.2rem solid #{'hsl(var(--clr-white), 0 )'};

    padding: $underline-gap 0;
  }

  & > *:hover,
  & > *:focus {
    border-color: #{'hsl(var(--clr-white), 0.25 )'};
  }

  & > .active,
  & > [aria-selected='true'] {
    color: #{'hsl(var(--clr-white), 1 )'};
    border-color: #{'hsl(var(--clr-white), 1 )'};
  }
}

.d-block {
  display: block;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
