.destination {
  background-image: url('../../assets/destination/background-destination-mobile.jpg');
  background-position: bottom center;
  background-size: cover;
}

@media (min-width: 45rem) {
  .destination {
    background-image: url('../../assets/destination/background-destination-tablet.jpg');
    background-position: center center;
  }
}

@media (min-width: 55rem) {
  .destination {
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
  }
}
