$gap: 1rem;
$gap-2: 2rem;
$gap-3: 3rem;
$gap-4: 4rem;
$flow-space: 1rem;

$underline-gap: 1rem;

/*colors*/
:root {
  --clr-dark: 230, 35%, 7%;
  --clr-light: 231, 77%, 90%;
  --clr-white: 0, 0%, 100%;
}

/* Font sizes */
$fs-900: clamp(7rem, 10vw, 9.5rem);
$fs-800: 6.25rem;
$fs-700: 3rem;
$fs-600: 2rem;
$fs-500: 1.85rem;
$fs-400: 1.325rem;
$fs-300: 1.13rem;
$fs-200: 0.875rem;

/*Font families*/
$ff-serif: 'Bellefair', serif;
$ff-sans-cond: 'Barlow Condensed', sans-serif;
$ff-sans-normal: 'Barlow', sans-serif;

@media (min-width: 45em) {
  $fs-800: 5rem;
  $fs-700: 2.8rem;
  $fs-600: 3.4rem;
  $fs-400: 1rem;
}

@media (min-width: 55em) {
  $fs-800: 6.25rem;
  $fs-700: 2.5rem;
  $fs-600: 3.5rem;
  $fs-400: 1.225rem;
}
