.dot-indicators {
  margin-bottom: 1.5rem;
  & > * {
    cursor: pointer;
    border: 0;
    border-radius: 50%;
    aspect-ratio: 1;
    padding: 0.4em;
    margin-right: 0.5rem;

    background-color: #{'hsl(var(--clr-white), 0.25 )'};
  }

  & > *:hover,
  & > *:focus {
    background-color: #{'hsl(var(--clr-white), 0.5 )'};
  }

  & > [aria-selected='true'] {
    background-color: #{'hsl(var(--clr-white), 1 )'};
  }
}

.number-indicators {
  & > * {
    cursor: pointer;
    border: 1px solid #{'hsl(var(--clr-white), .25 )'};
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    padding: 0.5em;
    background-color: #{'hsl(var(--clr-dark), 0.5 )'};
    color: #{'hsl(var(--clr-white), 1 )'};
  }

  & > *:hover,
  & > *:focus {
    background-color: #{'hsl(var(--clr-dark), 0.5 )'};
    border: 1px solid #{'hsl(var(--clr-white), 1 )'};
    color: #{'hsl(var(--clr-white), 1 )'};
  }

  & > [aria-selected='true'] {
    background-color: #{'hsl(var(--clr-white), 1 )'};
    color: #{'hsl(var(--clr-dark), 1 )'};
  }
}
